.fe-Walkthrough {
    counter-reset: steps;
    display: block;
    font-size: .875rem;
    margin: 0;
    padding: 0
}

.fe-Walkthrough-step {
    counter-increment: steps;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1
}

.fe-Walkthrough-step+.fe-Walkthrough-step {
    margin-top: 1rem
}

.fe-Walkthrough-step--positive {
    color: #55b336
}

.fe-Walkthrough-stepIndicator {
    flex: 0 0 auto;
    margin-right: .75rem;
    padding-top: .75rem;
    position: relative
}

@media screen and (min-width: 48em) {
    .fe-Walkthrough-stepIndicator {
        padding-top:1.5rem
    }
}

.fe-Walkthrough-stepIndicator:after {
    border-left: 2px solid #d8dde0;
    bottom: -3rem;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 1.5rem;
    transform: translateX(-50%);
    z-index: 1
}

.fe-Walkthrough-step--action .fe-Walkthrough-stepIndicator {
    padding-top: 0
}

.fe-Walkthrough-step:last-child .fe-Walkthrough-stepIndicator:after {
    content: none
}

.fe-Walkthrough-stepIndicatorContent {
    background-color: #fff;
    border: 2px solid #b4bcc1;
    border-radius: 50%;
    box-sizing: border-box;
    color: #5e6e78;
    font-size: 1rem;
    font-weight: bold;
    height: 2rem;
    line-height: 1.75rem;
    position: relative;
    text-align: center;
    width: 2rem;
    z-index: 2
}

@media screen and (min-width: 48em) {
    .fe-Walkthrough-stepIndicatorContent {
        font-size:1.25rem
    }
}

.fe-Walkthrough-stepIndicatorContent:before {
    content: counter(steps);
    display: block;
    position: relative
}

@media screen and (min-width: 48em) {
    .fe-Walkthrough-stepIndicatorContent:before {
        top:-1px
    }
}

.fe-Walkthrough-step--positive .fe-Walkthrough-stepIndicatorContent:before,.fe-Walkthrough-step--processing .fe-Walkthrough-stepIndicatorContent:before {
    content: none
}

.fe-Walkthrough-step--processing .fe-Walkthrough-stepIndicatorContent {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: fe-Animation-loadingSpinner;
    animation-timing-function: linear;
    transform-origin: 50% 50%
}

.fe-Walkthrough-step--caution .fe-Walkthrough-stepIndicatorContent {
    background-color: initial;
    border: none;
    border-radius: 0
}

.fe-Walkthrough-step--caution .fe-Walkthrough-stepIndicatorContent:before {
    background-image: url(/packs/media/paper-shredder--symbol-1b3c3cf71923fb21cb70.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 2.5rem 2.5rem;
    content: "";
    height: 2.5rem;
    left: -.25rem;
    position: relative;
    width: 2.5rem
}

@media screen and (min-width: 48em) {
    .fe-Walkthrough-step--caution .fe-Walkthrough-stepIndicatorContent:before {
        background-size:3rem 3rem;
        height: 3rem;
        left: -.5rem;
        width: 3rem
    }
}

.fe-Walkthrough-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2
}

.fe-Walkthrough-step--positive .fe-Walkthrough-icon {
    color: #3f8528
}

.fe-Walkthrough-stepContent {
    flex-grow: 1;
    width: 100%
}

.fe-Walkthrough-stepHeading {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem
}

@media screen and (min-width: 48em) {
    .fe-Walkthrough-stepHeading {
        font-size:1.25rem;
        line-height: 1.75rem
    }
}

/* Overrides */

.fe-Walkthrough-step+.fe-Walkthrough-step {
    margin-top: 0rem
}

.fe-Walkthrough-step--action .fe-Walkthrough-stepIndicator {
    padding-top: 18px;
}


.btn-small {
    padding: 8px 10px;
}


.table > tbody > tr.parent > td {
    border-bottom: none;
}

.table > tbody > tr.parent > td link {
    text-decoration: underline;
    cursor: pointer;
}

.table > tbody > tr.parent > td a.link, .table > tbody > tr.parent > td a.link:hover  {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

a.link, a.link:hover, a.link:not([href]):not([tabindex]) {
    text-decoration: underline;
    cursor: pointer;
}

.table > tbody > tr.child > td {
    border-top: none;
}

tr.child .card {
    margin-left: 50px;
}

/* .modal-content 
{
    background: linear-gradient(#1e1e2f,#1e1e24);
    border: 2px solid #e14eca;
} */

.modal-backdrop, .modal-backdrop.show {
    background: rgba(0,0,0,.5);
    opacity: 1;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #1d253b;
    color: #8d94a7;
    cursor: not-allowed;
}

span.fa.complete {
    background-image: url("./img/complete.png");
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

span.fa.incomplete {
    background-image: url("./img/incomplete.png");
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

span.fa.success {
    background-image: url("./img/success.png");
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}